body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(16, 162, 196, 0.8);
    }

.blurred-leaves {
	background-image: URL("../img/blurred-leaves.jpg") !important;
}


nav{
	margin: auto;
	max-width: 600px;
	font-size: 1.2rem;
	text-transform: uppercase;
}

nav ul {
	list-style-type: none;
	display: flex;
	align-content: stretch;
	flex-direction: row;
	justify-content: center;
	margin-block-start: 0em;
	padding-inline-start: 0px;
	
}



nav ul li:hover {
	background-color: none;
}


nav ul li a:hover button{
	text-decoration: ;
	color: blue;
	background-color: none;
}

nav ul li a button {
	font-family: 'Aleo', serif;
	max-width: 100%;
	color: rgba(230,68,0,0.5);
/*	border: 1px solid	rgba(0,162,230,0.5);*/
/*	border: 5px solid	rgba(230,68,0,0.5);*/
	border: none;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	font-size: 1rem;
	background-color: whitesmoke;
}


nav ul li a {
.aleo-<uniquifier> {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

}

nav ul li a:visited {
	.aleo-<uniquifier> {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: italic;
}

}	

h1 {
	display: flex;
	justify-content: center;
	.neuton-bold {
  	font-family: "Neuton", serif;
  	font-weight: 700;
 	 font-style: normal;
	}
}

p {
	.tajawal-regular {
  font-family: "Tajawal", serif;
  font-weight: 400;
  font-style: normal;
}
}


